%table#projects-users.table.table-bordered
  %thead
    %tr
      %th.role
      - projects.each do |project|
        %th= project.name
  %tbody
    - roles.each do |role|
      %tr{ class: role.name }
        %td.role= role.name
        - projects.each do |project|
          %td.entries{ data: { role: role.id, project: project.id } }
            %input{ type: 'text' }
