#filters
  .roles
    %input{ type: 'text', name: 'roles', placeholder: 'Filter roles...' }
  .projects
    %input{ type: 'text', name: 'projects', placeholder: 'Filter projects...' }

#projects-users
