- unless current_user.github_connected?
  Now please
  = link_to "connect", user_omniauth_authorize_path(:github)
  your GitHub account.


%table#projects-users.table.table-bordered
  %thead
    %tr
      %th
      - projects.each do |project|
        %th= project.name
  %tbody
    - roles.each do |role|
      %tr{ class: role.name }
        %td= role.name
        - projects.each do |project|
          %td.entries
            %input{ type: 'text' }
