#filters
  .checkboxes
    .checkbox
      %label
        %input#highlight-ending{ type: 'checkbox' } Highlight ending
    .checkbox
      %label
        %input#show-next{ type: 'checkbox' } Show next
    .checkbox
      %label
        %input#highlight-not-billable{ type: 'checkbox' } Highlight not billable
  .roles
    %input{ type: 'text', name: 'roles', placeholder: 'Filter roles...' }
  .projects
    %input{ type: 'text', name: 'projects', placeholder: 'Filter projects...' }

#projects-users
