.row
  .col-sm-6.col-sm-offset-3
    %ul#roles
      %li.no-sortable
        .input-group
          %span.input-group-btn
            #add-role.btn.btn-primary create
          = text_field_tag 'name', nil, placeholder: 'Enter role name...', class: 'form-control'
