body.dashboard {
  &.index {
    #main-container{
      width: 100%;
      overflow-x: scroll;
      padding-bottom: 180px;
    }
    td.entries {
      padding: 0;
      cursor: text;
    }
    .role {
      width: 80px;
      text-align: right;
    }
  }
}
