body.dashboard {
  &.index {
    #main-container{ min-width: 100%; }
    #projects-users { width: auto; max-width: auto; }
    td.entries {
      padding: 0;
      width: 200px;
    }
    .role {
      width: 80px;
      text-align: right;
    }
  }
}
