body.dashboard {
  &.index {
    #main-container{
      width: 100%;
    }

    #filters {
      margin: 0 auto;
      width: 955px;
      .roles, .projects {
        width: 400px;
        display: inline-block;
      }

      .checkboxes {
        display: inline-block;
        margin-right: 20px;
      }
    }

    #projects-users {
      margin-top: 10px;
      padding-bottom: 200px;
      overflow-x: scroll;
      .project {
        display: table-cell;

        .project-name {
          padding: 8px;
          width: 200px;
          font-weight: bold;
          border-top: 1px solid #DDD;
          border-left: 1px solid #DDD;
          border-bottom: 2px solid #DDD;
        }

        .membership, .new-membership {
          border: 1px solid #DDD;
          margin: 8px;
          position: relative;
        }

        .membership {
          padding: 8px;
          .remove {
            float: right;
            cursor: pointer;
          }

          &.left-7 { background: $left-time-red; color: white; }
          &.left-14 { background: lighten($left-time-red, 20); }
          &.left-30 { background: lighten($left-time-red, 50); }
        }

        .fake-membership {
          padding: 8px;
          border: 1px dashed #DDD;
          margin: 8px;
          color: #DDD;
          font-style: italic;
        }

        .new-membership {
          color: #DDD;
        }

        .role-indicator {
          position: absolute;
          left: 0px;
          bottom: -1px;
          height: 1px;
          width: 100%;
        }
      }

      .project:last-child {
        .project-name {
          border-right: 1px solid #DDD;
        }
      }
    }

    .new-membership {
      .selectize-control { height: 36px; }
      .selectize-input {
        @include box-shadow(none);
        border: 0;
        padding: 8px;
        input {
          font-size: 14px;
          line-height: 16px !important;
        }
      }
      .selectize-dropdown {
        [data-selectable] {
          padding: 5px;
          .name { margin: 5px 0 5px 35px; }
        }
      }
    }
  }
}
