body.memberships, body.users {
  &.new, &.edit, &.create, &.update, &.show {
    .checkbox{
      margin-top: 0px;
      input {
        &.boolean {
          width: 21px;
          height: 21px;
        }
      }
    }
  }
}
