body.roles {
  &.index {
    ul#roles {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 5px;
        .role-drag {
          i {
            cursor: move;
            margin-right: 5px;
          }
        }
        input {
          &.priority, &.color { padding: 0; }
          &.priority { width: 40px; }
          &.color {
            width: 25px;
            height: 20px;
          }
        }
      }
    }
  }
}
