body.users {
  &.index {
    table {
      a {
        text-decoration: none;
        i {
          color: black;
          &:hover { color: $gray-light; }
        }
      }

      input {
        &.phone,
        &.date_picker { width: 100px; }

        &.employment { width: 80px; }
      }
    }
  }
}
